body {
  background-color: #444;
  background-image: url(1df0f933a136179809818f861309e032.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #FFF;
  color: #19B3E6;
  font-size: 1.8em; }

